<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdOhF2BunoGf9d5744vImsSl-HyuV-hoE</string>
	<key>GCM_SENDER_ID</key>
	<string>377442875278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myinstagram</string>
	<key>PROJECT_ID</key>
	<string>my-instagram-9f548</string>
	<key>STORAGE_BUCKET</key>
	<string>my-instagram-9f548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377442875278:ios:4511d7f6d86e8f9051d6df</string>
</dict>
</plist>